* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#header {
  background-image: url("../img/wedding-background.jpg");
  background-size: cover;
  height: 700px;
  text-transform: uppercase;
}

#logo h2 {
  color: white;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1.8em;
  display: inline;
  position: absolute;
  top: 45px;
  left: 150px;

}
.circle {
  border-radius: 100%;
  background-color: white;
  width: 80px;
  height: 80px;
  text-align: center;
  padding-top: 15px;
  font-size: 1.5em;
  position: absolute;
  left: 50px;
  top: 20px;
}
#links {
  position: absolute;
  right: 50px;
  top: 50px;
}
li {
  list-style-type: none;
  float: left;
  margin-left: 30px;
  font-size: 0.8em;
  color: white;
}
li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#title {
  color: white;
  width: 90%;
  max-width: 1270px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#title h1 {
  font-size: 8.3em;
}
#title h2 {
  font-size: 3.8em;
  border-bottom: 2px solid white;
}

hr {
  border: 1px solid white;
}
button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  background-color: salmon;
  height: 50px;
  border: none;
  color: white;
  padding: 20px;
  font-size: 0.8em;
  text-transform: uppercase;
}
#header p {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  text-align: center;
  color: white;
  font-size: 0.8em;
  font-weight: lighter;
  text-transform: none;
  font-style: italic;
  margin-top: 20px;
}
